@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    position: relative;
    background: url(../img/bg-beachblue.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.menu{
    text-align: center;
    margin-bottom: 81px;
    margin-top: 50px;
}

.menu a{
    padding-left: 62px;
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
	font-weight: bold;
}

ul {
	list-style-type: none;
}

.biruTua {
    background-color: #A2CDEC;
    position: relative;
    margin: 0 auto;
    border: none;
    width: 75%;
    height: 75%;
    margin-top: 20px;
    padding: 30px;
    z-index: 1;
}

.biruMuda {
    background-color: #D5E6E0;
    position: relative;
    margin: 0 auto;
    border: none;
    width: 75%;
    height: 75%;
    padding: 30px;
    z-index: -1;
}

.abuAbu {
    background: rgba(189, 189, 189, 1);
    margin: 0 auto;
    border: none;
    width: 75%;
    height: 75%;
    padding: 30px;
    z-index: -1;
    margin-bottom: 100px;
}

.profile {
    width: 386px;
    height: 417px;
    float: left;
    margin-right: 30px;
}

.biruMuda h2 {
    margin: 0 auto;
}

.biruMuda p {
    display: inline-block;
    text-align: center;
    margin: 20px 30px 10px 0;
}

.abuAbu img {
    align-items: center;
    margin: 20px 40px 20px 40px;
    display: inline-block;
}

.sponsor {
    width: 140px;
    height: 140px;
}

.sponsor2 {
    width: 180px;
    height: 100px;
}

h1 {
    text-align: left;
    margin: 10px;
    font-family: 'Rasa', serif;
    font-style: normal;
    font-size: 64px;
    line-height: 35px;
}

h2 {
    text-align: center;
    margin: 5px;
    font-family: 'Rasa', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
}

p {
    text-align: left;
    margin: 5px;
    font-family: 'Rasa', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }

@media screen and (min-width: 450px) {
    header,
    body {
		width: 100%;
		padding: 0;
	}
}

@media screen and (min-width: 768px) {
    header,
    body {
		width: 100%;
		padding: 0;
	}
}

@media screen and (min-width: 992px) {
    header,
    body {
		width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 1000px) {
    header,
    body {
		width: 100%;
		padding: 0;
	}
}