body{   
    
    
    
}

.bg img{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0px;
}

.navbar {
    margin-left: 649px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}

.navbar a{
    display: inline;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto';
}

.navbar a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

.nav{
    margin-left: 60px;
}
a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.titlepage{ 
    position: relative;
    z-index: 1;
    margin-left: 10.9%;
    background: #A2CDEC;
    color: #black;
    width: 80.9%;
    height: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 79px;
}

.titlepage h1{
    margin-left: 6.5%;
    font-family: 'Rancho', cursive;
    font-size: 48px;
    padding-top: 38px;
}

.Box{
    position: relative;
    text-align: left;
    width: 80.9%;
    height: auto;
    background: #D5E6E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 10.9%;
    padding: 50px 0px;
    margin-bottom: 40px;
}

.Box p{
    margin-top: 25px;
}

.card  {
    margin-left: 4%;
    margin-top: 63px;
    width: auto;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

.card p{
    background-color: #c4c4c4;
    
    color: #8e7e7e;
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Rancho', cursive;

}

.quote > div {
    margin: 10px;
    background-color: #c4c4c4;
    padding: 0px 10px;
    color: #8e7e7e;
   
    font-size: 18px;
    font-family: 'Rancho', cursive;
}

.card img{
    
    margin-top: 29px;
  
}

.bawahsendiri{
    background-color: #2B8E9C;
    padding-top: 1px;
    width: auto;
    height: auto;
   
    
}






.slideshow{
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 70px;

}

.slider{
    overflow: hidden;
    width: 773px;
    height: 439px;
    
    
}

.slides{
    display: flex;
    width: 500%;
    height: 00px;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    
}

.slide img{
    width: 773px;
    height: 439px;
}


.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}

.btn-manual{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.btn-manual:not(:last-child){
    margin-right: 40px;
}

.btn-manual:hover{
    background:black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

.navauto{
    position: absolute ;
    display: flex;
    width: 800px;
    justify-content: center;
}

.navauto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-top: 410px;
    transition: 1s;
}

.navauto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navauto .nav-btn1{
    background: black;
    
}

#radio2:checked ~ .navauto .nav-btn2{
    background: black;
    
}

#radio3:checked ~ .navauto .nav-btn3{
    background: black;
    
}