


body {
    background-color: #D5E6E0;
    
}


.bagianatas {
    background: url(../img/bg-beach\(filtered\).png);
    filter: orange 30%;
    background-size: cover;
    background-position: 50%;
    width: 1920px;
    height: 558px;
   

}

.navbar {
    margin-left: 659px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    
}
li{
    display: inline;
    
    font-family: 'Roboto';

}

.nav{
    margin-left: 50px;
}

h1 span{
    display: block;
    font-family: 'Lobster';
    color: white;
    text-align: center;
    font-size: 72px;
    line-height: 90px;
    margin-top: 130px;
}

h1 {
    font-family: 'Quicksand';
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 65px;

}

button{
    transform: translateX(830px);
    width: 125.71px;
    height: 34.98px; 
    border-radius: 10px;
}

.sign {
    background-color: transparent;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}





.card {
    float: left;
    width: 440px;
    height: 489px;
    background-color: #ebf6fa;
    border-radius: 10px;
    text-align: center;
    margin-top: 43px;
    
}

.bagianbawah::after{
    content: "";
    display: table;
    clear: both;
}

.bagianbawah h3{
    font-family: 'Rancho', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;



}


.bagianbawah p{
    font-family: 'Rasa', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
}

img {
    width: 370px;
    height: 237px;
    margin-top: 29px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}